.container_menu-title{
    color: white;
    width: 100%;
}
.container_menu-title > h1{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 135PX;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}
hr{
    margin-top: 20px;
    margin-bottom: 5px;
    width: 100%;
}